<section class="wrapper">
  <div class="video-wrap">
    <video src="../../../../assets/dogs-in-park.mp4" autoplay preload="auto" playsinline muted loop></video>
  </div>
  <div class="overlay"></div>
  <div class="landing-text">
    <h1 class="parallax-hero-text">Connecting pet owners with local pet sitters</h1>
    <h2>Your Pet`s Second-Best Friend</h2>
    <p>Whether you’re on vacation, traveling for business, or just don’t like leaving your pet at home all day, leave them with someone who
      truly loves animals. As well as offering specialized care, I bring you total peace of mind.</p>
    <a href="#" class="btn">Learn more About us</a>
  </div>
</section>


<!--<div class="header-unit">-->
<!--  <div id="video-container">-->
<!--    <video autoplay loop class="fillWidth">-->
<!--      <source src="../../../../assets/dogs-in-park.mp4" type="video/mp4"/>-->
<!--      Your browser does not support the video tag. I suggest you upgrade your browser.-->
<!--    </video>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="wrapper">-->
<!--  <h1 class="parallax-hero-text">Connecting pet owners with local pet sitters</h1>-->
<!--  <h2>Your Pet`s Second-Best Friend</h2>-->
<!--  <p>Whether you’re on vacation, traveling for business, or just don’t like leaving your pet at home all day, leave them with someone who-->
<!--    truly loves animals. As well as offering specialized care, I bring you total peace of mind.</p>-->
<!--  <a href="#" class="btn">Learn more About us</a>-->
<!--</div>-->
