.row {
  margin: 0 !important;
  padding: 0 !important;
}


.final-image {
  height: 560px;
  object-fit: cover;
  object-position: 50% 50%;
  background: url("webapp/src/assets/final-image.webp");
}
