<app-hero-landing></app-hero-landing>
<div class="black-bg">
  <div class="vertical-center">
    <h1>Why use PetMe??</h1>
    <h2>Because we guarantee the best experience!</h2>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-md-3">
      <img src="../../../../assets/1.webp" alt="">
    </div>
    <div class="col-md-3">
      <div class="text">
        <h3>Free to sign-up</h3>
        <p>whether you are pet owner or pet sitter</p>
      </div>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/2.webp" alt="">
    </div>
    <div class="col-md-3">
      <div class="text">
        <h3> Verified pet sitters</h3>
        <p> We have outstanding verification process</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="text">
        <h3>Community</h3>
        <p> Connecting passionate pet lover locally</p>
      </div>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/3.webp" alt="">
    </div>
    <div class="col-md-3">
      <div class="text">
        <h3> Pet insurance</h3>
        <p> Only the Best insurance for both pets and pet sitters</p>
      </div>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/4.webp" alt="">
    </div>
  </div>
</div>

<div class="section white-bg">
  <h2>What we offer</h2>
  <h3>Perfect fit for everyone</h3>
  <div class="long-text">
    <p>
      Are you busy with your work and don't have enough time for your beloved pet? Or do you want to go on vacation? Then you are here
      right.
      We gather a number of verified pet sitters who would love to take care of your pet.
    </p>
  </div>
</div>

<!-- Curator.io instagram image feed-->
<div id="curator-feed-default-feed-layout">
<!--  <a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a>-->
</div>


<div class="final-image">

</div>
