.black-bg {
  height: 250px;
  background: black;
  line-height: 250px;
  text-align: center;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.vertical-center > h1 {
  color: rgb(252, 219, 108);
  font-weight: 600;
  font-size: 2.5rem;
}

.vertical-center > h2 {
  color: white;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.row {
  margin: 0 !important;
  padding: 0 !important;
}

.col-md-3 {
  padding: 0 !important;
  background-color: white;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}

img {
  padding: 0 !important;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.text {
  text-align: center;
  max-width: 50%;
}

.text > h3 {
  line-height: 1.41em;
  font-size: 22px;
  font-weight: bold;
}

.text > p {
  line-height: 1.75em;
  font-size: 18px;
  font-weight: bold;
}

.white-bg {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  color: black;
}

.white-bg > h2 {
  line-height: 1.35em;
  text-align: center;
  font-size: 40px;
  font-weight: bold;

}

.white-bg > h3 {
  text-align: center;
  line-height: 1.75em;
  font-size: 18px;
  font-weight: bold;

}

.white-bg > .long-text {
  max-width: 40%;
  margin: 0 auto;
}

.white-bg > .long-text > p {
  text-align: center;
  line-height: 1.875em;
  font-size: 15px;
}

.final-image {
  width: 100%;
  height: 560px;
  object-fit: cover;
  object-position: 50% 50%;
  background: url("webapp/src/assets/final-image.webp");
}
