<div class="container">
  <div class="d-flex flex-row align-content-center justify-content-center">
    <h1 class="page-title">Our services</h1>
  </div>
  <div class=" d-flex flex-row justify-content-around align-items-center">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
           src="https://static.wixstatic.com/media/58801518158342fc871a2dd5a549c122.jpg/v1/fill/w_290,h_194,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/58801518158342fc871a2dd5a549c122.webp"
           alt="Card image cap">
      <div class="card-body">
        <h4 class="service-name">Dog Walking</h4>
        <hr>
        <div>
          <h4> 1 hr</h4>
        </div>
        <div>
          <h4> 19,99 Kr</h4>
        </div>
        <button class="book-now">
          <span>
             <a> Book now</a>
          </span>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
           src="https://static.wixstatic.com/media/5ebc87e3279cbef5e6e3e533250e9ea4.jpg/v1/fill/w_290,h_194,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/5ebc87e3279cbef5e6e3e533250e9ea4.webp"
           alt="Card image cap">
      <div class="card-body">
        <h3 class="service-name">Dog boarding</h3>
        <hr>
        <div>
          <h4> 1 hr</h4>
        </div>
        <div>
          <h4> 19,99 Kr</h4>
        </div>
        <button class="book-now">
          <span>
             <a> Book now</a>
          </span>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
           src="https://static.wixstatic.com/media/c57b43bc826d47ba971a2be243cfd117.jpg/v1/fill/w_290,h_194,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/c57b43bc826d47ba971a2be243cfd117.webp"
           alt="Card image cap">
      <div class="card-body">
        <h3 class="service-name">Pet taxi</h3>
        <hr>
        <div>
          <h4> 1 hr</h4>
        </div>
        <div>
          <h4> 19,99 Kr</h4>
        </div>
        <button class="book-now">
          <span>
             <a> Book now</a>
          </span>
        </button>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top"
           src="https://static.wixstatic.com/media/11062b_859ff2aae7ee4e6e8c43c138db5a4bfd~mv2.jpg/v1/fill/w_290,h_194,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/11062b_859ff2aae7ee4e6e8c43c138db5a4bfd~mv2.webp"
           alt="Card image cap">
      <div class="card-body">
        <h3 class="service-name">Pet sitting</h3>
        <hr>
        <div>
          <h4> 1 hr</h4>
        </div>
        <div>
          <h4> 19,99 Kr</h4>
        </div>
        <button class="book-now">
          <span>
             <a> Book now</a>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
