<div class="container-fluid">
  <div class="row">
    <div class="image col-md-6 col-sm-12">
      <img src="assets/11062b_a52b723ecd9e4cd4b5b220a8e826b5da_mv2_d_4901_3267_s_4_2.webp" alt="">
    </div>
    <div class="text col-md-6 col-sm-12">
      <h1>All About Me</h1>

      <p>
        Dedicated to my passion and adoration for animal care, I became a professional Dog Sitter in 2000. Ever since, I have been providing
        loyal and loving pet care and services to the San Francisco area and beyond.
      </p>
      <p>
        I pride myself on my patience, kindness and competence — and my clients would agree. It’s why so many of them use my services on a
        regular basis. Remember, no job is too big or too small for me to handle, so please get in touch. I can’t wait to start looking
        after your precious pet.
      </p>

      <button>Get in touch</button>
    </div>
  </div>
</div>
