<div class="container d-flex align-items-center justify-content-center flex-column">
  <div class="wrapper">
    <h1 class="header text-center">Log In</h1>
    <h2 class="text-center">New to this site? <span><a href="#" id="redirect-to-signup">Sign Up</a></span></h2>
    <form [formGroup]="loginFormGroup">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input [errorStateMatcher]="matcher" formControlName="email" matInput placeholder="Ex. pat@example.com"
               type="email">
        <mat-error *ngIf="loginFormGroup.get('email').hasError('email') && !loginFormGroup.get('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginFormGroup.get('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input [errorStateMatcher]="matcher" formControlName="password" matInput type="email">
        <mat-error *ngIf="loginFormGroup.get('password').hasError('required')">
          Password is <strong>required</strong></mat-error>
      </mat-form-field>
    </form>

    <h2><a href="#" id="forgot-password">Forgot password?</a></h2>
    <button id="login-button" mat-flat-button>Log In</button>

    <div class="test font-weight-bold">
      <span>or log in with</span>
    </div>
    <div class="container-fluid text-center">
      <a href="#" class="p-3">
        <img src="https://img.icons8.com/color/48/000000/facebook-circled--v3.png"/>
      </a>
      <a href="#" class="p-3">
        <img src="https://img.icons8.com/fluent/48/000000/google-logo.png"/>
      </a>
    </div>
  </div>
</div>
