.container {
  font-family: 'Poppins', sans-serif;
  margin-top: 100px;
  text-align: center;
}

.page-header, .page-sub-header, input {
  font-family: 'Poppins', sans-serif;

}


.page-header {
  color: rgb(208, 160, 34);
  text-shadow: 1px 0 rgb(208, 160, 34);
  font-weight: bolder;
  font-size: 2rem;
}

.page-sub-header {
  color: black;
  text-shadow: 1px 0 black;
  letter-spacing: 2px;
  font-weight: bold;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
}

.text-area {
  margin-top: 30px;
  border-left: none;
  border-right: none;
  width: 100%;
  height: 10vh;
}

.submit-button {
  width: 25vw;
  height: 35px;
  border-radius: 25px;
  background-color: rgb(208, 160, 34);
  border: none;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 17px;
}

@media screen and (max-width: 767px) {
  .container {
    margin-top: 100px;
  }

  .contact-form {
    width: 100%;
  }
}
